:root {
	--text-primary: #393434;
	--text-secondary: #ececec;
	--bg-base: rgb(161, 197, 238);
	--bg-primary: rgb(220, 162, 202);
	--bg-secondary: rgb(221, 102, 183);
	--transition-speed: 600ms;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	margin: 0px;
	padding: 0;
	font-family: "VT323", monospace;
	background-color: var(--bg-base);
}

body::-webkit-scrollbar {
	width: 0.25rem;
}
body::-webkit-scrollbar-track {
	background: rgb(221, 102, 183);
}
body::-webkit-scrollbar-thumb {
	width: 0.25rem;
	background: rgb(236, 9, 157);
}
main {
	margin-left: 9.5rem;
}
h1 {
	margin-top: 2rem;
}
.text {
	margin-top: 2rem;
	width: 50vw;
	margin-right: 2rem;
}
.navbar {
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-color: var(--bg-primary);
	transition: 200ms ease;
}
.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.navbar:hover {
	width: 9rem;
}
.navbar:hover .link-text {
	display: block;
}
.nav-item {
	width: 100%;
}
.nav-item:last-child {
	margin-top: auto;
}
.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: var(--transition-speed);
}
.nav-link svg {
	width: 2rem;
	margin: 0 1.5rem;
}
.nav-link:hover {
	filter: grayscale(0%) opacity(1);
	background: var(--bg-secondary);
	color: var(--text-secondary);
}
.link-text {
	display: none;
	margin-left: 1rem;
}
.fa-primary {
	color: #ff7eee;
}
.fa-secondary {
	color: #df49a6;
}
.fa-primary,
.fa-secondary {
	transition: var(--transition-speed);
}

.frame {
	margin-top: 5rem;
	height: 170px;
	min-width: 250px;
	border-radius: 5%;
	border: dotted 5px rgb(0, 0, 0);
	/* background-color: rgba(255, 255, 255, 0.874); */
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 0.952) 35%,
		rgba(221, 155, 194, 0.4),
		rgb(157, 194, 241)
	);
	display: flex;
	align-items: center;
	flex-direction: column;
	box-shadow:rgb(236, 9, 157) 0px 5px 10px;
}

button.warning,
.error,
.default {
	height: 28px;
	width: 150px;
	margin: 5px;
	border-color: rgb(236, 9, 157);
	font-family: "VT323", monospace;
	font-size: 1.5rem;
	background-color: #ffff;
	justify-content: center;
}
button:hover {
	cursor:pointer;
	box-shadow:rgb(236, 9, 157) 0px 5px 10px;
}

.choiceP {
	height: 36px;
	font-size: 2rem;
}

.modal, .modal2 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 2px solid rgb(236, 9, 157);
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 500px;
	max-width: 60%;
}
.modal.active, .modal2.active {
	transform: translate(-50%, -50%) scale(1);
}
.modal-header, .modal-header2 {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgb(236, 9, 157);
}
.modal-header .title, .modal-header2 .title2 {
	font-size: 1.25rem;
	font-weight: bold;
}
.modal-header .close-button, .modal-header2 .close-button2  {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 2rem;
	font-weight: bold;
}
.modal-body, .modal-body2 {
	padding: 10px;
}
#overlay {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(236, 9, 156, 0.408);
	pointer-events: none;
	transition: 200ms ease-in-out;
}
#overlay.active {
	opacity: 1;
	pointer-events: all;
}
