:root {
	--warning: rgb(219, 165, 72);
	--info: rgb(50, 148, 213);
	--danger: rgb(224, 52, 52);
	--success: rgb(55, 237, 27);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	margin-top: 120px;
	font-family: "VT323", monospace;
	background-color: rgb(241, 210, 231);
}

.frame {
	height: 170px;
	width: 500px;
	border-radius: 5%;
	border: dotted 5px rgb(0, 0, 0);
	/* background-color: rgba(255, 255, 255, 0.874); */
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 0.952) 35%,
		rgba(221, 155, 194, 0.4),
		rgb(157, 194, 241));
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
button {
	height: 28px;
	width: 150px;
	margin: 5px;
	border-color: rgb(236, 9, 157);
	font-size: 20px;
	font-family: "VT323", monospace;
	background-color: #ffff;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

.choiceP {
	height: 36px;
	font-size: 32px;
}
